*{
	padding:0;
	margin:0;
}
html,body {background-color: #cccccc;margin:0;padding:0;overflow:hidden!important;}
#infopopupclosebtn
{
	position: absolute;right: 5%;height: 2.8%;top: 4%;cursor: pointer;
	
}
#logo
{
	position:fixed;
	color:white;
	font-size: 12pt;
	margin-left:21px;
	bottom: 17px;
}
#info
{
	position:fixed;
	color:white;
	font-size:15px;
	right: 21px;
	bottom: 19px;
	width: 25px;
	height: 25px;
	cursor:pointer;
	z-index:99999;
}
#info>img {
    width: 100%;
    height: 100%;
}
 
#infopopup
{
	position:fixed;
	color:white;
	font-size:15px;
	right: 2%;
	bottom: 30px;
	display:none;
	z-index:9999;
	    opacity: 0.9;
}

#infopopupimg{
	    width: 100%;
	 }
  
 #infopopup{
	  /* width: 24%;  */
 } 

#logo img{
	
	width:50%;
}
/* custom cursor css */
.custom1 {
    cursor: auto;
    cursor: url(../assets/images/eraser.cur) , auto !important;
}
.custom2 {
    cursor: auto;
    cursor: url(../assets/images/draw_tool.cur), auto !important;
}


/* custom cursor css end */






.actContainer {
    overflow: hidden;
    position: relative;
    height: 617px;
    /* top: -1220px; */
    /* z-index: 2; */
    user-select: none;
}

.sidebar {
    position: absolute;
    width: 265px;
    display: inline-block;
    margin-top: 34px;
    top: 0px;
    z-index: 5!important;
    right: 27px;
}
.sidebar img {
    z-index: 5;
    width: 265px;
    user-select: none;
    -webkit-user-drag: none;
}
.dropArea {
    position: relative;
    /* border: 2px solid #eab6b6; */
    /* margin: auto; */
    width: 1000px;
    display: inline-block;
    float: left;
    top: 33px;
}


.dropgrid {visibility: hidden;width: 345px;margin: 1% 0% 0% 6%;height: 137px;position: relative;display: inline-block;border: 8px solid transparent;background-image: url("../assets/images/tool_grid_1.png");background-size: 353px;background-repeat: no-repeat, repeat;background-position: center;}


.dropAreaContainer {
    width: 80%;
    display: inline-block;
}

.dragbox {
    position: relative;
    display: inline-block;
    border: 2px solid transparent;
    width: 65px;
    height: 65px;
    float: left;
    user-select: none;
}
.sidebar .darg img{

width: 100%;
}

.sidebar .darg {
    position: absolute;
}


.darg.dargele1 {
    top: 11%;
    left: 14%;
    width: 40%;
}

.darg.dargele2 {
    top: 5%;
    left: 61%;
    width: 19%;
}

.darg.dargele3 {
    top: 27%;
    width: 30%;
    left: 15%;
}

.darg.dargele4 {
    top: 27%;
    width: 30%;
    left: 52%;
}

.darg.dargele5 {
    top: 43%;
    width: 30%;
    left: 15%;
}

.darg.dargele6 {
    top: 43%;
    width: 30%;
    left: 52%;
}

.darg.dargele7 {
    top: 59%;
    width: 30%;
    left: 15%;
}

.darg.dargele8 {
    top: 59%;
    width: 30%;
    left: 52%;
}
.drawtool, .erasetool, .resettool{

position: absolute;
}


.drawtool img, .erasetool img, .resettool img{

width: 100% !important;
}

.drawtool {
    top: 76%;
    width: 22%;
    left: 16%;
}

.erasetool {
    top: 76%;
    width: 17%;
    left: 57%;
}

.resettool {
    top: 86%;
    width: 16%;
    left: 40%;
}

.dragbox .dragimg{
    width: 74%;
    margin: 7px;
    position: absolute;
}

canvas {
    position: absolute;
    /* cursor: crosshair; */
    /* border: 1px solid #000000; */
    z-index: 3;
	pointer-events: none;
}


.dragbox .red, .dragbox .yellow{display: none;}
.visible {
    display: block !important;
}
div#output {
    position: absolute;
    top: 0;
    visibility: hidden;
}
.dropgrid2 {position: relative;top: -830px;width: 138px;height: 344px;margin: 0% 0% 4% 2%;display: inline-block;border: 8px solid transparent;visibility: hidden;user-select: none;background: url(../assets/images/tool_grid_2.png);background-repeat: no-repeat;background-size: 161px;background-position: center;}


.dargele1.ui-draggable-dragging img{
	width: 30%;
}
.dargele2.ui-draggable-dragging img{
	width: 30%;
}

img.ui-draggable-dragging{
	 width: 65px; 
}
img.dragclone2{
	     width: 65px;  
}

.actarea {
    width: 1208px;
    height: 890px;
    position: absolute;
    /* float: right; */
    /* border: 1px solid black; */
}

html  body {
overflow: hidden;
padding: 0px;
margin: 0px;

font-family:'MyriadPro-Light,MyriadPro-Regular';

}
 
*
{
padding:0;
margin:0;
font-family:'source_sans_proregular',source_sans_probold;

}

#infopopupclosebtn
{
/*	position: absolute;right: 5%;width: 3%;top: 4%;cursor: pointer; */
	
	position: absolute;
    right: 10px;
    width: 31px;
    top: 11px;
    cursor: pointer;
	opacity:0;
	
}







#info
{
	position:fixed;
	color:white;
	font-size:15px;
	right: 2%;
	bottom: 3%;
	width: 25px;
	height: 25px;
	cursor:pointer;
}
#info>img
{
width:100%;
height:100%;
}
#infopopup
{
	position:fixed;
	color:white;
	font-size:15px;
	right: 2%;
	bottom: 55px;
	display:none;
	width:350px;
}
 

.infoClicked
{
	opacity:0.4;
}

@media only screen and (max-height: 680px) {
	
	#infopopup
	{
		width:250px;
	}
}
@media only screen and (max-height: 500px) {
	
	#infopopup
	{
		width:200px;
	}
}
@media only screen and (max-height: 400px) {
	
	#infopopup
	{
		width:180px;
	}
}
@media only screen and (max-height: 400px) {
	
	#infopopup
	{
		width:160px;
		bottom:40px;
	}
}







@media only screen and (min-device-width: 320px) and (max-device-width: 440px) and (orientation:portrait) {
  /* For portrait layouts only */
  img.ui-draggable-dragging{
	  width: 6.5%; 
}
img.dragclone2{
	    width: 6.5%; 
}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 830px) and (orientation:landscape) {
  /* For portrait layouts only */
  img.ui-draggable-dragging{
	  width: 4.5%; 
}
img.dragclone2{
	    width: 4.5%;
}
}


@media only screen and (min-device-width: 700px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  img.ui-draggable-dragging{
	  width: 6%; 
}
img.dragclone2{
	    width: 6%; 
}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape) {
  /* For portrait layouts only */
  img.ui-draggable-dragging{
	  width: 5.5%; 
}
img.dragclone2{
	    width: 5.5%; 
}
}
@media screen and (min-width: 1000px)  and (max-height: 700px) and (orientation:landscape) { 
  /* For portrait layouts only */
  img.ui-draggable-dragging{
	  width: 50px ;
}
img.dragclone2{
	    width: 50px ; 
}

}


 


