*{
	padding:0;
	margin:0;
}
html,body {background-color: #cccccc;margin:0;padding:0;overflow:hidden!important;}
#infopopupclosebtn
{
	position: absolute;
	right: 5%;
	height: 2.8%;
	top: 2%;
	cursor: pointer;
	opacity: 0;
}
body{
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */	
	
}
#logo
{
	position:fixed;
	color:white;
	font-size: 12pt;
	margin-left:21px;
	bottom: 17px;
}
#logo img {
    width: 50%;
}
#info
{
	position:fixed;
	color:white;
	font-size:15px;
	right: 2%;
	bottom: 3%;
	width: 25px;
	height: 25px;
	cursor:pointer;
}
#info>img
{
width:100%;
height:100%;
}
#infopopup
{
	position: fixed;
    color: white;
    font-size: 15px;
    right: 2%;
   bottom: 34px;
    display: none;
    width: 350px;
    opacity: 0.9;
    transform-origin: right bottom;
}
 

.infoClicked
{
	opacity:0.4;
 
}

#infopopupimg{
	    width: 100%;
	 }
  
  

#logo img{
	
	width:50%;
}
/* ///>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#canvas{
	position:absolute;
	
}
.actContainer{
	overflow: hidden;
    position: relative;
   
    
    user-select: none;
}
.actarea{
	   width: 1208px;
    height: 890px;
    position: absolute;
	border:1px solid black;
			
}
.sidebar {
    position: absolute;
    width: 336px;
    display: inline-block;
    margin-top: 64px;
    top: 0px;
    z-index: 5!important;
    right: 27px;
}
img.sidebar_background {
    width: 100%;
}

.checkbox1{
	    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 20px;
}
.checkbox2{
	     position: absolute;
    top: 148px;
    left: 80px;
    font-size: 20px;
}

img.sidebar_line {
      position: absolute;
    top: 50px;
    left: 101px;
    display: block;
    top: 117px;
    height: 4px;
}
.darg img{
	
width: 100%;
}
.darg {
	
	
}
.darg.dargele1 {
    position: absolute;
    top: 190px;
    text-align: center;
    width: 80%;
    left: 33px;
}
.darg.dargele2 {
    position: absolute;
    top: 270px;
    width: 40%;
    left: 35px;
}

.darg.dargele3 {
    position: absolute;
    top: 270px;
    width: 26%;
    left: 205px;
}

.darg.dargele4 {
    position: absolute;
    top: 357px;
    width: 23%;
    left: 61px;
}
.darg.dargele5 {
    position: absolute;
    top: 357px;
    width: 19%;
    left: 215px;
}
.darg.dargele6 {
    position: absolute;
    top: 451px;
    width: 15%;
    left: 74px;
}

.darg.dargele7 {
    position: absolute;
    top: 452px;
    width: 11%;
    left: 225px;
}
.darg.dargele8 {
    position: absolute;
    top: 546px;
    width: 10%;
    left: 80px;
}


.darg.dargele9 {
    position: absolute;
    top: 542px;
    width: 9%;
    left: 225px;
}
.darg.dargele10 {
    position: absolute;
    top: 614px;
    left: 154px;
    width: 7%;
}

.darg.dargele11 {
    position: absolute;
    top: 500px;
}
.darg.dargele12 {
    position: absolute;
    top: 620px;
}

.drawtool {
    top: 82%;
    width: 20%;
    left: 16%;
}
.drawtool, .erasetool, .resettool {
    position: absolute;
}
.erasetool {
    top: 82%;
    width: 13%;
    left: 63%;
}
.resettool {
    top: 90%;
    width: 14%;
    left: 40%;
}
.drawtool img, .erasetool img, .resettool img {
    width: 100% !important;
}

.dropArea {
    /* border: 2px solid black; */
    position: relative;
    width: 1190px;
    height: 800px;
    left: 170px;
    top: 120px;
}
img.numberline {
    width: 100%;
    position: absolute;
}

img.whitebox {
    left: 11px;
    top: 63px;
    width: 49%;
    position: absolute;
}
.grid-container {
  display: grid;
  /* grid-template-columns:   1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr  1fr 1fr 1fr 1fr; */
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  /* background-color: #2196F3; */
  padding: 0px;
  width: 98.5%;
  left: 9px;
  position: absolute;
  top: 63px;
}
.grid-item {
  background-color: transparent;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  text-align: center;
}